:root{
  --background-color: white;
  --primary-color: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'DM Mono';
  box-sizing: content-box;
}

h1 {
  padding-bottom: 8px;
  font-size: 30px;
}
.nav {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto ;
  grid-template-rows: 50px;
  grid-column-gap: 8px;
  grid-row-gap: 0px;
  color: var(--background-color);
  padding: 0px 8px;
  align-items: center;
  margin-bottom: 8px;
  }
 .nav > * {
  font-size: 30px;
 }
  .nav1 { grid-area: 1 / 1 / 2 / 2; }
  .nav2 { grid-area: 1 / 2 / 2 / 3; }
  .nav3 { grid-area: 1 / 3 / 2 / 4; 
          background-color: grey;
          border: 1px black solid;
  }
  .nav4 { grid-area: 1 / 4 / 2 / 5; }
  .nav5 { grid-area: 1 / 5 / 2 / 6; }
  .nav6 { grid-area: 1 / 6 / 2 / 7; } 
  
  .main {
    margin: auto;
    max-width: 1280px;
    padding: 5px;
  }

  .main p {
    padding: 5px;
    font-size: 18px;
  }
a {
  text-decoration: none;
  color: var(--background-color);
}
main a{
  color: var(--primary-color)
}
.produkty {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center; 
  grid-template-rows: 151.6px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  }
  
  .produkty > div {
    border: 1px black solid;
  }

  .produkt-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: auto-fill;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  }

.produkt-lava { grid-area: 1 / 1 / 2 / 2;
  width: 150px;
  height: 150px;
}
.produkt-prava { grid-area: 1 / 2 / 2 / 3;
  overflow: hidden;
} 

.jeden-produkt {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.jeden-produkt-obrazok {
  place-self: center;
  max-width: 350px;
}

.index-clanky {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center; 
}

.index-clanky img{
  border: 1px solid black;
}

.index-clanky > div h2, h3, h4{
  padding-left: 5px;
  font-size: 30px;
}
.banner {
  display: flex;
  min-height: 150px;
  width: auto;
  height: auto;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(129,129,129,1) 100%);
  padding-left: 8px;
  margin-bottom: 8px;
  align-items: center;
}

footer {
  width: 100%;
  margin: 8px;
  display: flex;
  align-content: center;
  color: var(--background-color);
  background-color: var(--primary-color);
}

footer *{
  display: inline;
  margin: auto;
}

.kosik-grid {
  display: grid;
  grid-template-columns: 150px minmax(0px, 1fr) 130px;
  overflow: hidden;
  grid-template-rows: 150px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px black solid;
  } 

  .xd { grid-area: 1 / 1 / 2 / 2; }
  .xe { grid-area: 1 / 2 / 2 / 3; } 

  .kosik-objednat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    justify-content: space-evenly;
    } 

.kosik-kosik { grid-area: 1 / 1 / 2 / 2; }

.kosik-tlacidlo { 
  grid-area: 1 / 2 / 2 / 3;
  justify-self: end;
  text-align: right;
} 

.kosik-produkt-info {
  text-align: right;
  border-left: 1px black solid;
  
}

.kosik-grid-text-parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 90px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.kosik-grid-nadpis {
  overflow: hidden;
  margin-bottom: 3px;

}
.kosik-grid-popis {
  overflow: hidden;
  margin-bottom: 3px;
}
.kosik-vsetky-produkty {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 8px;
}

.border{
  border-right: 1px black solid;
}

@media print {
  header {
    visibility: hidden;
  }
  
  footer {
    visibility: hidden;
  }
  
  .kosik-tlacidlo {
    visibility: hidden;
  }
  .kosik-grid-nadpis {
    margin-bottom: 2px;
  }
  .kosik-grid-popis{
    margin-bottom: 1px;
  }
  button {
    visibility: hidden;
  }
}

.clanok > img {
  border-bottom: 1px solid;
}

.zoznam-produktov {
  display: grid;
}

img {
  max-width:100%;
  max-height:100%;
}
